/*null*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html, body {
  color: #000;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/*--------------------*/
.line {
  border-bottom: 1px solid rgb(195, 195, 195);
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.shadow-light {
  box-shadow: 1px 1px 1px 1px rgb(216, 215, 215);
}

.shadow-hard {
  box-shadow: 2px 2px 3px 1px rgb(183, 183, 183);
}

.main {
  font-family: "Roboto", sans-serif;
  display: flex;
  color: rgb(68, 68, 68);
}

.menu {
  flex: 0 0 200px;
  padding: 30px 15px;
  background-color: rgb(255, 255, 255);
}
.menu h2 {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 15px;
}
.menu .minu-line {
  margin-bottom: 20px;
}

.menu-list li {
  padding: 0 15px;
}
.menu-list li:hover {
  background-color: rgb(195, 32, 86);
  box-shadow: 1px 1px 1px rgb(216, 215, 215);
}
.menu-list li * {
  display: inline-flex;
  align-items: center;
  padding-left: 25px;
  height: 40px;
  width: 100%;
  color: rgb(68, 68, 68);
  background-size: 20px;
  background-position: center left;
  background-repeat: no-repeat;
}
.menu-list .dashboard * {
  background-image: url(../images/dashboard_gray.svg);
}
.menu-list .dashboard *:hover {
  background-image: url(../images/dashboard_white.svg);
}
.menu-list .user-profile * {
  background-image: url(../images/account_gray.svg);
}
.menu-list .user-profile *:hover {
  background-image: url(../images/account_white.svg);
}
.menu-list .maps * {
  background-image: url(../images/map_gray.svg);
}
.menu-list .maps *:hover {
  background-image: url(../images/map_white.svg);
}
.menu-list .notifications * {
  background-image: url(../images/notify_gray.svg);
}
.menu-list .notifications *:hover {
  background-image: url(../images/notify_white.svg);
}
.menu-list .support * {
  background-image: url(../images/support_gray.svg);
}
.menu-list .support *:hover {
  background-image: url(../images/support_white.svg);
}

.content {
  width: 100%;
  padding: 30px;
  background-color: rgb(234, 234, 234);
}

.head {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 40px;
}

.info {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: auto;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 25px;
  margin-bottom: 40px;
}

.info-card {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  text-wrap: nowrap;
}
.info-card .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.info-card .logo-info {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  position: relative;
  top: -25px;
}
.info-card .text-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: end;
}
.info-card .text-info-card-bottom {
  font-size: 1.7rem;
}
.info-card .bottom {
  font-size: 0.8rem;
  padding-left: 18px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}
.info-card .alert {
  background-image: url(../images/alert.png);
}
.info-card .logo-info-space {
  background-color: rgb(68, 139, 0);
  background-image: url(../images/data_white.svg);
}
.info-card .calendar {
  background-image: url(../images/calendar.png);
}
.info-card .logo-info-revenue {
  background-color: rgb(216, 161, 45);
  background-image: url(../images/shop_white.svg);
}
.info-card .arrow {
  background-image: url(../images/down.png);
}
.info-card .logo-info-problem {
  background-color: rgb(39, 77, 151);
  background-image: url(../images/tag_white.svg);
}
.info-card .airplane {
  background-image: url(../images/time.png);
}
.info-card .logo-info-subscribers {
  background-color: rgb(195, 32, 86);
  background-image: url(../images/paperplane_white.svg);
}

.graphics {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: auto;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 25px;
}

.graphic-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}
.graphic-item .graphic-img {
  margin-top: -40px;
  padding: 20px;
  margin-bottom: 20px;
}
.graphic-item img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.graphic-item h2 {
  font-size: clamp(1.1rem, 2vw, 1.6rem);
  margin-bottom: 5px;
}
.graphic-item p {
  font-size: clamp(1rem, 1.6vw, 1.3rem);
  margin-bottom: 5px;
}
.graphic-item p:last-of-type {
  margin-bottom: 15px;
  flex-grow: 1;
}
.graphic-item .text-info-time {
  font-size: 0.8rem;
  padding-left: 20px;
  background-image: url(../images/time.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
  margin-top: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.graphic-item-color1 {
  background-color: rgb(68, 139, 0);
}

.graphic-item-color2 {
  background-color: rgb(216, 161, 45);
}

.graphic-item-color3 {
  background-color: rgb(39, 77, 151);
}

@media screen and (min-width: 800px) and (max-width: 950px) {
  .info {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .info-card .text-info-card-top {
    font-size: 0.8rem;
  }
  .info-card .text-info-card-bottom {
    font-size: 1.3rem;
  }
  .info-card .logo-info {
    width: 40px;
    height: 40px;
  }
}
@media screen and (max-width: 800px) {
  .info {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 650px) {
  .menu {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .graphics {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .graphics h2 {
    font-size: 1.6rem;
  }
  .info {
    grid-template-columns: 1fr;
  }
  .info-card .text-info-card-top {
    font-size: clamp(1rem, 5vw, 1.5rem);
  }
  .info-card .text-info-card-bottom {
    font-size: clamp(1.3rem, 5vw, 1.7rem);
  }
}/*# sourceMappingURL=style.css.map */