@import "null.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

// переменные ---------------------------------------
$color-hover: rgb(195, 32, 86);
$color-text: rgb(68, 68, 68);
$color-text-light: rgb(240, 240, 240);
$background-color-menu: rgb(255, 255, 255);
$background-color-main: rgb(234, 234, 234);
$color-line: rgb(195, 195, 195);
$color1: rgb(68, 139, 0);
$color2: rgb(216, 161, 45);
$color3: rgb(39, 77, 151);
$color4: rgb(195, 32, 86);

// набор классов -----------------------------------

.line {
  border-bottom: 1px solid $color-line;
  width: 100%;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.shadow-light {
  box-shadow: 1px 1px 1px 1px rgb(216, 215, 215);
}

.shadow-hard {
  box-shadow: 2px 2px 3px 1px rgb(183, 183, 183);
}

.main {
  font-family: "Roboto", sans-serif;
  color: $color-text;
  display: flex;
  position: relative;
}

// бургер--------------------------------
.hamburger-lines {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 20px;
  width: 20px;
  left: 0;
  top: 2px;
  cursor: pointer;
  .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
}
// ------------------------------------------------

// меню -----------------------------
.menu {
  flex: 0 0 200px;
  height: 100vh;
  padding: 30px 15px;
  background-color: $background-color-menu;
  position: sticky;
  left: 0;
  top: 0;
  h2 {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    padding-left: 15px;
  }
  .minu-line {
    margin-bottom: 20px;
  }
}

// блок меню ------------------------------------
.menu-list {
  li {
    padding: 0 15px;
    &:hover {
      background-color: $color-hover;
      box-shadow: 1px 1px 1px rgb(216, 215, 215);
    }
    * {
      display: inline-flex;
      align-items: center;
      padding-left: 25px;
      height: 40px;
      width: 100%;
      color: $color-text;
      background-size: 20px;
      background-position: center left;
      background-repeat: no-repeat;
    }
  }
  .dashboard * {
    background-image: url(../images/dashboard_gray.svg);
  }
  .dashboard *:hover {
    background-image: url(../images/dashboard_white.svg);
  }
  .user-profile * {
    background-image: url(../images/account_gray.svg);
  }
  .user-profile *:hover {
    background-image: url(../images/account_white.svg);
  }
  .maps * {
    background-image: url(../images/map_gray.svg);
  }
  .maps *:hover {
    background-image: url(../images/map_white.svg);
  }
  .notifications * {
    background-image: url(../images/notify_gray.svg);
  }
  .notifications *:hover {
    background-image: url(../images/notify_white.svg);
  }
  .support * {
    background-image: url(../images/support_gray.svg);
  }
  .support *:hover {
    background-image: url(../images/support_white.svg);
  }
}
//--------------------------------------------------------
//--------------------------------------------------------

//основной блок-----------------------------------------------
.content {
  width: 100%;
  padding: 30px;
  background-color: $background-color-main;
}
// шапка-----------------------------
.head {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 40px;
  position: relative;
}
// блок с информацией --------------------------------------
.info {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: auto;
  column-gap: 15px;
  row-gap: 25px;
  margin-bottom: 40px;
}
// карточка маленькая ---------------------------------------
.info-card {
  padding: 10px;
  background-color: $background-color-menu;
  text-wrap: nowrap;
  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .logo-info {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    position: relative;
    top: -25px;
  }
  .text-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: end;
  }
  .text-info-card-bottom {
    font-size: 1.7rem;
  }
  .bottom {
    font-size: 0.8rem;
    padding-left: 18px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
  }
  .alert {
    background-image: url(../images/alert.png);
  }
  .logo-info-space {
    background-color: $color1;
    background-image: url(../images/data_white.svg);
  }
  .calendar {
    background-image: url(../images/calendar.png);
  }
  .logo-info-revenue {
    background-color: $color2;
    background-image: url(../images/shop_white.svg);
  }
  .arrow {
    background-image: url(../images/down.png);
  }
  .logo-info-problem {
    background-color: $color3;
    background-image: url(../images/tag_white.svg);
  }
  .airplane {
    background-image: url(../images/time.png);
  }
  .logo-info-subscribers {
    background-color: $color4;
    background-image: url(../images/paperplane_white.svg);
  }
}
//----------------------------------------------------------------
// блок с графиками--------------------------------------------------------
.graphics {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: auto;
  column-gap: 15px;
  row-gap: 25px;
}
.graphic-item {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: $background-color-menu;
  .graphic-img {
    margin-top: -40px;
    padding: 20px;
    margin-bottom: 20px;
  }
  img {
    object-fit: contain;
    width: 100%;
  }
  h2 {
    font-size: clamp(1.1rem, 2vw, 1.6rem);
    margin-bottom: 5px;
  }
  p {
    font-size: clamp(1rem, 2vw * 0.8, 1.3rem);
    margin-bottom: 5px;
  }
  p:last-of-type {
    margin-bottom: 15px;
    flex-grow: 1;
  }
  .text-info-time {
    font-size: 0.8rem;
    padding-left: 20px;
    background-image: url(../images/time.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: contain;
    margin-top: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.graphic-item-color1 {
  background-color: $color1;
}
.graphic-item-color2 {
  background-color: $color2;
}
.graphic-item-color3 {
  background-color: $color3;
}

// ----------------------------------------------------------------
//----------------------------------------------------------------
// блок с задачами и списком сотрудников --------------------------------
// блок с задачами --------------------------------

.tasks {
  padding-top: 40px;
  display: flex;
  column-gap: 20px;
}

.tasks-block {
  flex-basis: 50%;
  padding: 1px 20px 20px 20px;
  background-color: $background-color-menu;
  margin-bottom: 50px;
  .task-row:not(:last-child) {
    border-bottom: 1px solid $color-line;
  }
  .tasks-block-menu {
    margin-top: -20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: $color2;
    span {
      margin-right: 20px;
    }
    div {
      background-position: 10px center;
      background-size: 1rem;
      background-repeat: no-repeat;
      padding: 10px 20px 10px 30px;
      &:hover {
        background-color: rgba(255, 255, 255, 0.341);
      }
    }
    div:nth-child(2) {
      background-image: url(../images/bug.svg);
    }
    div:nth-child(3) {
      background-image: url(../images/web.svg);
    }
    div:nth-child(4) {
      background-image: url(../images/cloud.svg);
    }
  }
}
.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  max-height: 80px;
  overflow: hidden;
  & > span:hover {
    transform: scale(1.3);
  }
  input {
    display: none;
  }
  label {
    span {
      display: block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      background-image: url(../images/not-done.png);
      background-size: cover;
    }
  }
  input:checked + span {
    background-image: url(../images/completed.png);
  }
  p {
    flex-grow: 1;
    padding: 0 10px;
    align-self: self-start;
  }
  span {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: transform ease 0.2s;
  }
  .edit-task {
    background-image: url(../images/edit.png);
    margin-right: 10px;
  }
  .delete-task {
    background-image: url(../images/remove.png);
  }
}

// ----------------------------------------------------------------
// список сотрудников --------------------------------

.employees-block {
  padding: 1px 20px 20px 20px;
  background-color: $background-color-menu;
  flex-basis: 50%;
  flex-shrink: 0;
  table {
    width: 100%;
    text-align: left;
    margin-top: 20px;
    border-spacing: 0px;
    border-collapse: collapse;
  }
  th {
    color: rgb(27, 146, 60);
    font-weight: 400;
    padding-bottom: 10px;
  }
}
.employees-block-header {
  margin-top: -20px;
  padding: 20px;
  background-color: $color3;
  color: $color-text-light;
  h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
}
.employees-table {
  td {
    border-top: 1px solid $color-line;
    height: 30px;
  }
}

// ----------------------------------------------------------------
// ------------------------------------------------------------------------------------------------

@media screen and (min-width: 1000px) {
  .tasks-block {
    margin-bottom: 0;
    .tasks-block-menu {
      span {
        margin-right: 10px;
      }
      div {
        padding: 10px 5px 10px 30px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .tasks {
    display: block;
  }
}
@media screen and (min-width: 800px) and (max-width: 950px) {
  .info {
    column-gap: 10px;
  }
  .info-card {
    .text-info-card-top {
      font-size: 0.8rem;
    }
    .text-info-card-bottom {
      font-size: 1.3rem;
    }
    .logo-info {
      width: 40px;
      height: 40px;
    }
  }
}
@media screen and (max-width: 800px) {
  .info {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 650px) {
  .menu {
    display: none;
  }
  .hamburger-lines {
    display: flex;
  }
  .head h1 {
    font-size: 1.8rem;
    margin-left: 30px;
  }
}

@media screen and (max-width: 500px) {
  .graphics {
    grid-template-columns: 1fr;
    row-gap: 40px;
    h2 {
      font-size: 1.6rem;
    }
  }
  .info {
    grid-template-columns: 1fr;
  }
  .info-card {
    .text-info-card-top {
      font-size: clamp(1rem, 5vw, 1.5rem);
    }
    .text-info-card-bottom {
      font-size: clamp(1.3rem, 5vw, 1.7rem);
    }
  }
}
